<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<li th:if="${type == 'bond' || type == 'share' || type == 'all'}"
    th:each="parameter, parameterStat : ${allParameters}"
    th:fragment="filter"
    class="d-flex justify-content-between align-items-center">
    <span th:text="${parameter.value}"></span>
    <input type="checkbox"
           th:id="'parameter_all_' + ${parameterStat.index}"
           th:data-type="${type}"
           th:value="${parameter.key}"
           onclick="setFilter(this)"
           th:checked="${selectedAllParameters != null and selectedAllParameters.contains(parameter.key)}"
           class="form-check-input">
</li>
</body>
</html>