<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<main th:fragment="main">
    <!-- breadcrumb start  -->
    <section class="breadcrumb pt-10 pb-40">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">
                    <a th:if="${type != null && type == 'all'}">Все инструменты</a>
                    <a th:if="${type != null && type == 'share'}">Акции</a>
                    <a th:if="${type != null && type == 'bond'}">Облигации</a>
                    <a th:if="${type != null && type == 'currency'}">Валюта</a>
                </h2>
                <ul class="breadcrumb__list">
                    <ul class="breadcrumb__list">
                        <li class="breadcrumb-item"><a th:href="@{/invest/home}">Главная</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/invest/favorite}">Избранное</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </section>
    <!-- breadcrumb end  -->
    <!-- shop start -->
    <section class="shop pt-10 pb-130">
        <div class="container">
            <div class="row mt-none-60">
                <div class="col-lg-8 mt-60">
                    <div class="woocommerce-content-wrap">
                        <div class="woocommerce-toolbar-top ul_li_between mt-none-15">
                            <p class="woocommerce-result-count mt-15">
                                <a th:if="${instrumentsCount != 0}">
                                    <span th:text="${onPage * (pageNum - 1) + 1}"></span>
                                    <span th:text="'-'"></span>
                                    <span th:text="${pageNum == pagesCount ? instrumentsCount : onPage * pageNum}"></span>
                                    <span th:text="' из '"></span>
                                    <span th:text="${instrumentsCount}"></span>
                                </a>
                                <a th:if="${instrumentsCount == 0}"
                                   th:text="'0 из 0'">
                                </a>
                            </p>
                            <div class="woocommerce-toolbar-top-right ul_li">
                                <form class="woocommerce-ordering mt-15" method="get"
                                      th:action="@{'/invest/catalog/'+${type}}">

                                    <select name="sort" class="orderby" onchange="this.form.submit()"
                                            style="text-align: right;">
                                        <option value="none"
                                                th:selected="${sort == 'none' ||
                                                (param.sort != null && param.sort[0] == 'none')}">
                                            Сортировка
                                        </option>
                                        <option value="name_asc"
                                                th:selected="${sort == 'name_asc' ||
                                                (param.sort != null && param.sort[0] == 'name_asc')}">
                                            Название: по возрастанию
                                        </option>
                                        <option value="name_desc"
                                                th:selected="${sort == 'name_desc' ||
                                                (param.sort != null && param.sort[0] == 'name_desc')}">
                                            <a class="justify-content-end">Название: по убыванию</a>
                                        </option>
                                        <option value="ticker_asc"
                                                th:selected="${sort == 'ticker_asc' ||
                                                (param.sort != null && param.sort[0] == 'ticker_asc')}">
                                            Тикер: по возрастанию
                                        </option>
                                        <option value="ticker_desc"
                                                th:selected="${sort == 'ticker_desc' ||
                                                (param.sort != null && param.sort[0] == 'ticker_desc')}">
                                            <a class="justify-content-end">Тикер: по убыванию</a>
                                        </option>

                                        <option value="nominalCurrency_price_asc"
                                                th:selected="${sort == 'nominalCurrency_price_asc' ||
                                                (param.sort != null && param.sort[0] == 'nominalCurrency_price_asc')}">
                                            Цена: по возрастанию
                                        </option>
                                        <option value="nominalCurrency_price_desc"
                                                th:selected="${sort == 'nominalCurrency_price_desc' ||
                                                (param.sort != null && param.sort[0] == 'nominalCurrency_price_desc')}">
                                            Цена: по убыванию
                                        </option>
                                    </select>
                                    <input type="hidden" name="page" th:value="${pageNum}">

                                    <noscript>
                                        <button type="submit" class="button">Применить</button>
                                    </noscript>
                                </form>
                            </div>
                        </div>
                        <div class="woocommerce-content-inner">
                            <div class="products" th:if="${instruments!=null and !instruments.isEmpty()}">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12" th:each="instrument : ${instruments}"
                                         th:with="brand=${instrument.brand}">
                                        <div class="product">
                                            <div class="product--img">
                                                <a th:if="${brand != null}"
                                                   th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}">
                                                    <img th:src="@{'//invest-brands.cdn-tinkoff.ru/' +
                                                         ${brand.getLogo()} + 'x640' + ${brand.getLogoExt()}}"
                                                         alt=""
                                                         onerror="this.onerror=null; this.src='/img/catalog/noLogo.jpg';">
                                                </a>
                                                <a th:unless="${brand != null}"
                                                   th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}">
                                                    <img th:src="@{/img/catalog/noLogo.jpg}"
                                                         alt="">
                                                </a>
                                                <div class="product--btn" th:id="'favorite-uid'+${instrument.uid}"
                                                     onclick="favorite(this); return false;">
                                                    <a class="xb-btn">
                                                        <i class="far fa-shopping-bag"></i>В избранное</a>
                                                </div>

                                                <div class="product--holder mt-1 pe-0 pt-0">
                                                    <div class="product-details text-end me-0 p-0"
                                                         th:style="'transform: scale(0.7); margin-left: auto; width: fit-content;'"
                                                         th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}"
                                                         th:text="${instrument.updateDateString}"></div>
                                                    <h3 class="product--title">
                                                        <a th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}"
                                                           th:text="${instrument.name}"></a>
                                                    </h3>
                                                    <h3 class="product--title fs-6 text-secondary">
                                                        <a th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}"
                                                           th:text="${instrument.ticker}"></a>
                                                    </h3>
                                                    <div class="product--price">
                                                        <span th:text="${instrument.getPriceString()}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination_wrap pt-20">
                        <div th:if="${pagesCount > 0}">
                            <ul>
                                <!-- Назад -->
                                <li th:classappend="${pageNum == 1} ? 'disabled' : ''">
                                    <a class="page-link"
                                       th:href="@{/invest/catalog/{type}(type=${type}, page=${pageNum - 1})}">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>

                                <!-- Первая страница -->
                                <li th:if="${pageNum > 2}">
                                    <a class="page-link"
                                       th:href="@{/invest/catalog/{type}(type=${type}, page=1)}">
                                        1
                                    </a>
                                </li>
                                <li th:if="${pageNum > 3}" class="disabled">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Страница перед текущей -->
                                <li th:if="${pageNum > 1}">
                                    <a class="page-link"
                                       th:href="@{/invest/catalog/{type}(type=${type}, page=${pageNum - 1})}"
                                       th:text="${pageNum - 1}">
                                    </a>
                                </li>

                                <!-- Текущая страница -->
                                <li>
                                    <a class="page-link current_page"
                                       th:href="@{/invest/catalog/{type}(type=${type}, page=${pageNum})}"
                                       th:text="${pageNum}">
                                    </a>
                                </li>

                                <!-- Страница после текущей -->
                                <li th:if="${pageNum < pagesCount}">
                                    <a class="page-link"
                                       th:href="@{/invest/catalog/{type}(type=${type}, page=${pageNum + 1})}"
                                       th:text="${pageNum + 1}">
                                    </a>
                                </li>

                                <!-- Многоточие -->
                                <li th:if="${pageNum < pagesCount - 2}" class="disabled">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Последняя страница -->
                                <li th:if="${pageNum < pagesCount - 1}">
                                    <a class="page-link"
                                       th:href="@{/invest/catalog/{type}(type=${type}, page=${pagesCount})}"
                                       th:text="${pagesCount}">
                                    </a>
                                </li>

                                <!-- Вперед -->
                                <li th:classappend="${pageNum == pagesCount} ? 'disabled' : ''">
                                    <a class="page-link"
                                       th:href="@{/invest/catalog/{type}(type=${type}, page=${pageNum + 1})}">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-60">
                    <div class="shop-sidebar sidebar-area mt-none-40">
                        <div class="widget mt-40">
                            <h2 class="widget__title">Поиск</h2>
                            <div class="widget__inner">
                                <form class="widget__search" onsubmit="setFilter(this)" th:data-type="${type}">
                                    <input class="text-white" type="search" placeholder="" id="globalSearch"
                                           th:data-type="${type}"
                                           th:value="${searchValue}" aria-label="Search" autofocus="autofocus"
                                           onfocus="this.setSelectionRange(this.value.length, this.value.length)"/>
                                    <button><i class="far fa-search" type="submit"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="widget mt-40">
                            <h2 class="widget__title">
                                <span>Перейти к</span>
                            </h2>
                            <div class="widget__inner">
                                <div class="tagcloud">
                                    <a th:href="@{/invest/catalog/share}">Акции</a>
                                    <a th:href="@{/invest/catalog/bond}">Облигации</a>
                                    <a th:href="@{/invest/catalog/currency}">Валюта</a>
                                    <a th:href="@{/invest/catalog/all}">Все инструменты</a>
                                </div>
                            </div>
                        </div>

                            <div class="widget mt-40" th:if="${type == 'share' || type == 'bond' || type == 'all'}">
                                <h2 class="widget__title">
                                    <span>По параметрам</span>
                                </h2>
                                <div class="widget__inner" >
                                    <form th:action="@{/invest/catalog/{type}(type=${type})}"
                                          method="get"
                                          id="parameterForm">
                                        <ul class="widget__category list-unstyled">
                                            <li th:replace="~{layout/catalog-filter-share :: filter}"></li>
                                            <li th:replace="~{layout/catalog-filter-bond :: filter}"></li>
                                            <li th:replace="~{layout/catalog-filter-all :: filter}"></li>
                                        </ul>
                                    </form>
                                </div>
                        </div>
                        <div class="widget mt-40"
                             th:if="${sectors != null && !sectors.isEmpty() && type != 'currency'}">
                            <h2 class="widget__title">
                                <span>По отраслям</span>
                            </h2>
                            <div class="widget__inner">
                                <form th:action="@{'/invest/catalog/'+${type}}"
                                      method="get"
                                      id="sectorForm">
                                    <ul class="widget__category list-unstyled">
                                        <li th:each="sector, sectorStat : ${sectors}"
                                            class="d-flex justify-content-between align-items-center">
                                            <span th:text="${sector.value}"></span>
                                            <input type="checkbox"
                                                   th:id="'sector_' + ${sectorStat.index}"
                                                   th:data-type="${type}"
                                                   th:value="${sector.key}"
                                                   onclick="setFilter(this)"
                                                   th:checked="${selectedSectors != null and selectedSectors.contains(sector.key)}"
                                                   class="form-check-input">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop end -->

</main>
<!-- main area end  -->

</body>

</html>
