<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- header start -->
<!-- header end -->

<!-- overlay menu start -->
<!-- overlay menu end -->

<!-- main area start  -->
<main th:fragment="main">
    <!-- breadcrumb start  -->
    <section class="breadcrumb pt-10 pb-40">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Избранное</h2>
                <ul class="breadcrumb__list">
                    <ul class="breadcrumb__list">
                        <li class="breadcrumb-item"><a th:href="@{/invest/home}">Главная</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/invest/catalog/all}">Каталог</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </section>
    <!-- breadcrumb end  -->

    <!-- cart start -->
    <section class="cart-section woocommerce-cart pt-10 pb-130">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="woocommerce">
                        <table class="shop_table shop_table_responsive cart" style="'table-layout: fixed;'">
                            <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">Название</th>
                                <th class="product-name">Цена</th>
                                <th class="product-price">Тип</th>
                                <th class="product-quantity">Страна</th>
                                <th class="product-subtotal"></th>
                            </tr>
                            </thead>
                            <tbody th:if="${instruments!=null and !instruments.isEmpty()}">
                               <th:block th:each="instrument, iterStat : ${instruments}">
                                <tr class="cart_single">
                                    <td><div class="acc-btn active">
                                        <span onclick="detailed(this); return false;" class="arrow text-end ps-4 fas fa-plus" th:id="${instrument.uid}"></span>
                                    </div>
                                    </td>
                                    <td class="product-thumbnail" th:with="brand=${instrument.brand}">
                                        <a th:if="${brand != null}"
                                           th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}">
                                            <img th:src="@{'//invest-brands.cdn-tinkoff.ru/' +
                                                         ${brand.getLogo()} + 'x640' + ${brand.getLogoExt()}}"
                                                 alt=""
                                                 onerror="this.onerror=null; this.src='/img/catalog/noLogo.jpg';">
                                        </a>
                                        <a th:unless="${brand != null}"
                                           th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}">
                                            <img th:src="@{/img/catalog/noLogo.jpg}"
                                                 alt="">
                                        </a>
                                    </td>
                                    <td class="product-name" data-title="Название">
                                        <h2 th:text="${instrument.getUid()}" hidden id="uid"></h2>
                                        <a th:href="@{/invest/catalog-single/{uid}(uid=${instrument.uid})}"
                                           th:text="${instrument.name}"></a>
                                    </td>
                                    <td class="product-price" data-title="Цена">
                                        <span th:text="${instrument.getPriceString()}"></span>
                                    </td>
                                    <td class="product-subtotal" data-title="Тип">
                                        <span th:text="${instrument.getTypeString()}"></span>
                                    </td>
                                    <td class="product-subtotal" data-title="Страна">
                                        <img th:src="@{'//invest-brands.cdn-tinkoff.ru/countries/flags/' +
                                                         ${instrument.getCountryOfRisk()} + '.png'}"
                                             alt="" width="25" style="border-radius: 50%"
                                             onerror="this.onerror=null; this.src='/img/catalog/noLogo.jpg';">
                                    </td>

                                    <td class="product-remove">
                                    <button onclick="favorite(this); return false;" class="xb-btn ms-0"
                                            style="flex: 1; min-width: 250px; padding: 14px 20px; white-space: nowrap;"
                                            th:id="'favorite-uid'+${instrument.uid}">
                                        <i class="far fa-shopping-bag me-2"></i><a id="favorite-text">Убрать из избранного</a>
                                    </button>
                                    <!--                                                <a href="cart.html#!" class="remove" title="Remove this item"-->
                                    <!--                                                    data-product_id="8" data-product_sku="my name is">&times;</a>-->
                                </td>
                                </tr>
                                <tr th:id="'detailed-' + ${instrument.uid}"
                                    th:style="'visibility: collapse'">
                                    <td colspan="6" class="align-top" >
                                        <div>
                                            <a th:text="${instrument.nameLong}"></a>
                                        </div>
                                        <div>
                                            <a th:text="${instrument.description}"></a>
                                        </div>
                                        <div>
                                            <a th:text="'Тикер: '+${instrument.ticker}"></a>
                                        </div>
                                        <div>
                                            <a>Обновлено:</a>
                                            <a th:text="${instrument.getUpdateDateString()}"></a>
                                        </div>
                                    </td>
                                </tr>
                               </th:block>
                            </tbody>
                        </table>

                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- cart end -->

</main>
<!-- main area end  -->

<!-- footer start -->
<!-- footer start -->

</body>

</html>
