<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<!-- header start -->
    <header id="xb-header-area" class="header-area header-style-four is-sticky" th:fragment="header">
        <div class="xb-header">
            <div class="container mxw_1785">
                <div class="header__wrap ul_li_between">
                    <div class="header-logo">
                        <a th:href="@{/invest/home}"><img th:src="@{/img/logo/logo.jpg}" width="50" alt=""><span
                                style="color:white;letter-spacing: 2px;" class="ps-2" id="usernameString" >InvestMate</span></a>
                    </div>
                    <div class="main-menu__wrap ul_li navbar navbar-expand-lg">
                        <nav class="main-menu collapse navbar-collapse">
                            <ul>
                                <li class="menu-item-has-children active">
                                    <a th:href="@{/invest/home}"><span>ГЛАВНАЯ</span></a>
                                </li>
                                <li class="menu-item-has-children" id="catalog">
                                    <a th:href="@{/invest/catalog/all}" ><span></span>КАТАЛОГ</a>
                                    <ul class="submenu">
                                        <li><a th:href="@{/invest/catalog/all}"><span>Все инструменты</span></a></li>
                                        <li><a th:href="@{/invest/catalog/share}"><span>Акции</span></a>
                                        </li>
                                        <li><a th:href="@{/invest/catalog/bond}"><span>Облигации</span></a>
                                        </li>
                                        <li><a th:href="@{/invest/catalog/currency}"><span>Валюта</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children" id="favorite">
                                    <a th:href="@{/index.html}"><span>ИЗБРАННОЕ</span></a>
                                    <!--                                    <ul class="submenu">-->
                                    <!--                                        <li><a th:href="@{/project.html}"><span>Portfolio</span></a></li>-->
                                    <!--                                        <li><a th:href="@{/project-single.html}"><span>Portfolio Details</span></a></li>-->
                                    <!--                                    </ul>-->
                                </li>

                                <li class="menu-item-has-children">
                                    <a th:href="@{/invest/contact}">
                                        <span>КОНТАКТЫ</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0)" id="added-functions"><span></span>ДОПОЛНИТЕЛЬНО</a>
                                    <ul class="submenu">
                                        <li id="refresh">
                                            <a href="javascript:void(0)" onclick="refreshAll(this)">
                                                <span>Обновление</span>
                                            </a>
                                        </li>
                                        <li id="add-new-admin">
                                            <a th:href="@{/invest/sign-up}">
                                                <span>Добавить администратора</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                        <div class="xb-header-wrap">
                            <div class="xb-header-menu">
                                <div class="xb-header-menu-scroll">
                                    <div class="xb-menu-close xb-hide-xl xb-close"></div>
                                    <div class="xb-logo-mobile xb-hide-xl">
                                        <a th:href="@{/index.html}" rel="home"><img th:src="@{/img/logo/logo.jpg}"
                                                                                    width="50"
                                                                                    alt=""></a></div>
                                    <nav class="xb-header-nav">
                                        <ul class="xb-menu-primary clearfix">
                                            <li class="menu-item">
                                                <a th:href="@{/invest/home}"><span>Главная</span></a>
                                            </li>
                                            <li class="menu-item menu-item-has-children" id="catalog-left">
                                                <a th:href="@{/invest/catalog/all}"><span>Кaталог</span></a>
                                                <ul class="sub-menu">
                                                    <li><a th:href="@{/invest/catalog/all}"><span>Все инструменты</span></a>
                                                    </li>
                                                    <li><a th:href="@{/invest/catalog/share}"><span>Акции</span></a>
                                                    </li>
                                                    <li><a th:href="@{/invest/catalog/bond}"><span>Облигации</span></a>
                                                    </li>
                                                    <li><a th:href="@{/invest/catalog/currency}"><span>Валюта</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item" id="favorite-left">
                                                <a th:href="@{/invest/portfolio}"><span>Избранное</span></a>
                                                <!--                                                <ul class="sub-menu">-->
                                                <!--                                                    <li><a th:href="@{/project.html}"><span>Portfolio</span></a></li>-->
                                                <!--                                                    <li><a th:href="@{/project-single.html}"><span>Portfolio Details</span></a></li>-->
                                                <!--                                                </ul>-->
                                            </li>
                                            <li class="menu-item">
                                                <a th:href="@{/invest/contact}"><span>Контакты</span></a>
                                            </li>
                                            <li class="menu-item" id="refresh-left">
                                                <a href="javascript:void(0)" onclick="refreshAll(this)"><span>Обновление</span></a>
                                            </li>
                                            <li class="menu-item" id="add-new-admin-left">
                                                <a th:href="@{/invest/sign-up}"><span>Добавить администратора</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="xb-header-menu-backdrop"></div>
                        </div>
                    </div>
                    <div class="ul_li">
                        <div class="xb-header_btn d-none d-lg-block">
                            <a th:href="@{/invest/sign-in}" id="login">ВХОД</a>
                            <a href="javascript:void(0)" onclick="logout(this)" id="logout">ВЫХОД</a>
                        </div>
                        <div class="side-menu-4 d-none d-lg-block">
                            <a href="javascript:void(0);" class="burger-menu" id="burger">
                                <img th:src="@{/img/digital-marketing/icon/menu01.png}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="header-bar-mobile side-menu d-lg-none">
                        <a th:attr="href='javascript:void(0);'" class="xb-nav-mobile">
                            <img th:src="@{/img/digital-marketing/icon/menu01.png}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

<!--message start-->
        <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
            <div id="liveToast"
                 class="toast"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true"
                 data-bs-autohide="false"
                 style="background-color: black; border: 1px solid #ccff00; border-radius: 0;">

                <div class="toast-header d-flex justify-content-between align-items-center border-bottom"
                     style="background-color: black; border-bottom: 1px solid #ccff00; border-radius: 0; color: #ccff00;">

                    <div class="d-flex align-items-center">
                        <img th:src="@{/img/logo/logo.jpg}" width="25" class="me-2" alt="...">
                    </div>

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="toast"
                            aria-label="Close"
                            style="filter: brightness(0) invert(1); opacity: 1; border-radius: 0; margin: 0;">
                    </button>
                </div>

                <div class="toast-body" id="refresh-result" style="color: white;">
                </div>
            </div>
        </div>
<!--  message end-->
    </header>
    <!-- header end -->

</body>
</html>