<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestMate Ваш партнер в создании капитала</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style5.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link th:href="@{https://fonts.googleapis.com/css2?family=Nunito:wght@300,400,500,600,700&display=swap}" rel="stylesheet">
</head>
<body>
<div class="min-vh-100">
  <div class="bg-overlay"></div>
  <div class="container d-flex align-items-center px-5 h-screen z-1 relative">
    <div class="shadow bg-indigo-950 d-flex flex-column form-layout">
      <div class="d-flex justify-content-center mb-4">
        <a th:href="@{/invest/home}" class="d-flex align-items-center gap-x-1">
          <img th:src="@{/img/logo/logo.jpg}" width="50" alt="" class="w-8">
          <h1 class="text-uppercase text-white font-bold text-2xl mb-0">InvestMate</h1>
        </a>
      </div>

        <a th:href="@{/invest/home}" class="text-sm no-underline text-cyan-400 hover:text-cyan-500 mb-1">
            Назад
        </a>

      <form class="d-flex flex-column flex-1 justify-content-center">

        <div class="mb-3">
          <label for="email" class="form-label text-white">Email</label>
          <input type="email" class="form-control border-0 text-dark" id="email">
        </div>

        <div class="mb-3">
          <label for="username" class="form-label text-white">Имя</label>
          <input type="email" class="form-control border-0 text-dark" id="username">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label text-white">Пароль</label>
          <div class="relative">
            <input type="password" class="form-control pr-11 border-0 text-dark" id="password">
            <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0" id="password-addon">
              <i class="mdi mdi-eye-outline f-16 text-white"></i>
            </button>
          </div>
        </div>

          <span class="text-center mt-0"
                id="result"></span>
        <div class="text-center mt-3 cy">
          <button onclick="register(this)" type="button" class="btn btn-primary w-full cy" id="registerButton">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </div>

        <div class="d-flex align-items-center justify-content-center gap-x-4 mt-4">
          <div class="d-flex align-items-center gap-x-4">
            <p class="text-sm mb-0 text-white" id="question">Уже есть аккаунт?</p>
            <a th:href="@{/invest/sign-in}"
               class="text-sm no-underline text-cyan-400 hover:text-cyan-500"
               id="loginLink">
              Войти
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- JavaScripts -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/sign.js}"></script>
<script th:src="@{/js/token.js}"></script>
</body>
</html>